# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
.Python
db.sqlite3
*.sqlite3
*.log

# Django
*.pot
*.pyc
*.pyo
*.pyd
media/
staticfiles/
*.log
*.sqlite3
*.env

# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
*.iml

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.tmp.*

# Python test files
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Misc
*.orig
*.rej
*.orig
*.swp

# Environment Variables
.env
